<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>localit</title>

	<!-- Styles -->
	<link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../css/home.css" rel="stylesheet" type="text/css">
	
	<!-- JavaScript -->
	<script src="../libs/jQuery/jquery-2.1.1.min.js"></script>
	<script src="../libs/bootstrap/js/bootstrap.js"></script>
	<script src="../js/home.js"></script>
	

</head>
<body>
	<div id="header" class="navbar navbar-inverse navbar-fixed-top">
		
	</div>
	
	<div id="wrapper" class="container">
		<div id="top_text"></div>
		<div id="main_content" class="container">
			<div class="posts_container panel-group" id="accordion">
			</div>
		</div>
    </div>
	
	<div class="container" id="footer">
		
	</div>
</body>
</html>
