<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>localit</title>

	<!-- Styles -->
	<link href="../libs/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../css/home.css" rel="stylesheet" type="text/css">
	
	<!-- JavaScript -->
	<script src="../libs/jQuery/jquery-2.1.1.min.js"></script>
	<script src="../js/home.js"></script>
	

</head>
<body>
	<div id="header">
		
	</div>
	
	<div id="main_content">
		
	</div>
	
	<div id="footer">
		
	</div>
</body>
</html>
