* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 100px;
}

div {
	display: block;
}

#header {
	border:
}

#main_content {
	padding-left: 50px;
	padding-right: 50px;
}

#posts_container {
	
}

#post {
	background-color: blue;
}

#footer {
	
}