* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 100px;
}

div {
	display: block;
}

.ups {
	margin-right: 10px;
	text-align: center;
}

.glyphicon-arrow-up {
	cursor: pointer;
}

.glyphicon-ok {
	cursor: pointer;
}

.post_title {
	font-size: 20px;
	font-weight: bold;
}

.small_text {
	font-size: 13px;
	color: #C9C9C9;
}

.fb-login-button {
	margin-top: 7px;
}

.fbPicture {
	margin:3px;
}

#km {
	width: 100px;
	padding: 8px 4px;
	text-decorationalign: right;
}
#lookup, #newPost {
	font-size: 15px;
}