* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 100px;
}

div {
	display: block;
}

.ups {
	margin-right: 10px;
	text-align: center;
}

.glyphicon-arrow-up {
	cursor: pointer;
}

.post_title {
	font-size: 20px;
}

.small_text {
	font-size: 13px;
}

.fb-login-button {
	margin-top: 12px;
}